@font-face {
    font-family: SilicoHand;
    src: url('data/silicohand.ttf');
}

@font-face {
    font-family: Ubuntu;
    src: url('data/ubuntu.ttf');
}

*       {
    font-size: 20px;
    font-family: Ubuntu;
}

#modeSel           {
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(53, 53, 53, 0.5);
    position: fixed;
    right: 0%;
    bottom: 5%;
    transition: 0.2s ease-in-out;
}

#mode       {
    transition: 0.2s ease-in-out;
    opacity: 0.5;
}

.tooltip        {
    padding: 5px;
    border: 0;
    border-radius: 10px 15px;
    background-color: rgba(53, 53, 53);
    position: fixed;
    right: 4%;
    bottom: 6.5%;
    display: none;
    color: white;
    transition: display 0.2s ease-in-out;
}

header      {
    z-index: 999;
    font-family: SilicoHand;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    background-color: #7f00ff;
    display: flex;
    align-items: center;
}

.heading        {
    font-family: SilicoHand;
    display: inline-block;
    padding: 30px 400px 30px 30px;
    font-size: 50px;
    color: white;
}

.menu           {
    font-family: SilicoHand;
    padding: 20px;
    margin: 5px;
    font-size: 20px;
    color: white;
    display: inline;
    float: right;
    min-width: 150px;
    transition: background-color 0.2s ease-in-out;
    text-align: center;
}

.menu:hover     {
    background-color: #f0f;
}

.menu.selected     {
    background-color: #f0f;
}

.bigtext         {
    font-size: 7vw;
    text-align: center;
}

.si             {
    font: 7vw SilicoHand;
    color: #7f00ff;
}

.f              {
    font: 7vw SilicoHand;
    color: orangered;
}            

body            {
    transition: background-color 0.2s ease-in-out;
    transition: color 0.5s ease-in-out;
}

main            {
    font-size: 2.2vw;
    padding: 0 2.28vw;
}

@media only screen and (max-width: 1000px) {
    main    {
        font-size: 17.5px;
    }
}

.centred        {
    text-align: center;
}