@font-face {
    font-family: SilicoHand;
    src: url('data/silicohand.ttf');
}

@font-face {
    font-family: Ubuntu;
    src: url('data/ubuntu.ttf');
}

*       {
    font-size: 20px;
    font-family: Ubuntu;
}

#modeSel           {
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(53, 53, 53, 0.5);
    position: fixed;
    right: 0%;
    bottom: 5%;
    transition: 0.2s ease-in-out;
}

#mode       {
    transition: 0.2s ease-in-out;
    opacity: 0.5;
}

.tooltip        {
    padding: 5px;
    border: 0;
    border-radius: 10px 15px;
    background-color: rgba(53, 53, 53);
    position: fixed;
    right: 5vw;
    bottom: 6.5%;
    display: none;
    color: white;
    transition: display 0.2s ease-in-out;
}

header      {
    z-index: 999;
    font-family: SilicoHand;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    background-color: #7f00ff;
    display: flex;
    align-items: center;
}

.phone          {
    display: none;
    font-family: SilicoHand;
    padding: 1.95vw 26vw 1.95vw 1.95vw;
    font-size: 5vw;
    color: white;
}

.heading-ph      {
    font-family: SilicoHand;
    padding: 0.5vw;
    font-size: 5vw;
    color: white;
}

.ham            {
    font-size: 5vw;
    font-weight: bolder;
    position: fixed;
    right: 0.5%;
    top: -0.5%;
    padding: 1.5%;
    display: inline;
}

#ph-links        {
    display: none;
    margin-top: 2vw;
    background-color: rgb(40, 40, 40);
    width: 100%;
    position: fixed;
    left: 0%;
    padding: 1.5vw;
    transition: all 0.2s linear;
}

.menu-ph        {
    padding: 1vw;
    font-size: 3vw;
    margin-right: 3vw;
    transition: all 0.2s linear;
}

.menu-ph:hover  {
    background-color: #f0f;
}

.menu-ph.selected       {
    background-color: #f0f;
}

@media only screen and (max-width: 500px)  {
    .phone      {
        font-size: 20px;
        padding: 10px;
    }

    .menu-ph    {
        font-size: 15px;
    }

    body        {
        padding-top: 50em;
    }

    .bigtext    {
        font-size: 40px;
    }

    .si, .f     {
        font-size: 40px;
    }

    .ham        {
        font-size: 25px;
    }

    .tooltip    {
        display: none;
    }
}

.heading        {
    font-family: SilicoHand;
    display: inline-block;
    padding: 1.95vw 26vw 1.95vw 1.95vw;
    font-size: 3.25vw;
    color: white;
}

.menu           {
    font-family: SilicoHand;
    padding: 1.3vw;
    margin: 5px;
    font-size: 1.3vw;
    color: white;
    display: inline;
    float: right;
    min-width: 9.76vw;
    transition: background-color 0.2s ease-in-out;
    text-align: center;
}

.menu:hover     {
    background-color: #f0f;
}

.menu.selected     {
    background-color: #f0f;
}

#overlay        {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(15, 15, 15, 0.7);
    width: 100%;
    height: 100%;
    z-index: 900;
}

.bigtext         {
    font-size: 7vw;
    text-align: center;
}

.si             {
    font: 7vw SilicoHand;
    color: #7f00ff;
}

.f              {
    font: 7vw SilicoHand;
    color: orangered;
}            

body            {
    padding-top: 10vw;
    transition: background-color 0.2s ease-in-out;
    transition: color 0.5s ease-in-out;
    min-width: 300px;
}

main            {
    font-size: 2.2vw;
    padding: 0 2.28vw;
}

@media only screen and (max-width: 1000px) {
    .bigtext    {
        font-size: 60px;
    }

    .si, .f     {
        font-size: 60px;
    }

    main    {
        font-size: 17.5px;
    }
    
    .pc     {
        display: none;
    }

    .phone  {
        display: block;
    }

    #overlay    {
        display: none;
    }

    .tooltip    {
        display: none;
    }
}

.centred        {
    text-align: center;
}